.intro__container {
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  /* justify-content: center; */
}

/* .intro__image {
  float: left;
  padding-right: 10px;
  margin-top: 20px;
} */

.intro__title {
  font-size: 1.8em;
  margin: 0.4em 0;
}

.shadow {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.intro__a__header {
  font-size: 1.4em;
  display: block;
  padding-top: 10px;
  color: #575454;
  text-decoration: none;
}

.intro__a__header:hover {
  color: orange;
  transition: all 0.2s ease;
  text-decoration: underline;
}

/* ------------- slide in effect ----------------- */
.come-in {
  transform: translateX(100%);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  transform: translateX(-100%);
  animation: come-in 1.5s ease forwards;
}
.already-visible {
  transform: translateX(0);
  animation: none;
}

@keyframes come-in {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* #a_telephone {
  font-size: 1em;
  display: block;
  padding-top: 10px;
  color: #575454;
  text-decoration: none;
}

#a_telephone:hover {
  color: orange;
  transition: all 0.2s ease;
  text-decoration: underline;
}

#a_email {
  font-size: 1em;
  display: block;
  padding-top: 10px;
  color: #575454;
  text-decoration: none;
} */

.intro-section .intro-text > div {
  margin: 10px 0;
}

.intro-section a {
  color: #575454;
}
.intro-section i {
  position: relative;
  top: 5px;
}

.intro-section a:hover {
  color: var(--primary-orange);
}
