.form-div {
  margin-top: 100px;
  border: 1px solid #e0e0e0;
}

#profileDisplay {
  display: block;
  height: 210px;
  width: 100%;
  margin: 0px auto;
  border-radius: 50%;
  padding: 30px;
}

.img-placeholder {
  width: 100%;
  color: white;
  height: 100%;
  background: black;
  opacity: 0.7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.img-div:hover .img-placeholder {
  padding: 20px;
  display: block;
  cursor: pointer;
}

.info {
  margin-top: 20px;
}
