.row {
  margin-bottom: 0;
}

/* ----------------------------------------------------------- showcase images ------------------------------------------------------ */

.showcase-images {
  margin-top: 2%;
}

.showcase-images .container {
  width: 80%;
}

.showcase-images img {
  display: block;
}

.showcase-images img:hover {
  transform: scale(1.15);
  opacity: 0.5;
  transition: all 0.4s ease-in-out 0s;
}

.showcase-images a {
  display: inline-block;
  overflow: hidden;
}

.showcase-images {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

/* ---------------------------------------------------- products showcase ----------------------------------------------- */

.products-showcase {
  margin-top: 20px;
}

#all,
#guitar,
#keyboard,
#piano,
#amply {
  margin-top: 20px;
}

.products-showcase .container {
  width: 85%;
}

.products-showcase li a span {
  position: relative;
}

.products-showcase li a span::before {
  font-family: "Material Icons";
  content: "\e405";
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -16px;
  left: -16px;
}

.products-showcase .tabs a {
  color: var(--primary-orange);
  text-transform: capitalize;
}

.products-showcase .tabs .tab a {
  color: var(--secondary-grey);
}

.products-showcase .tabs .tab a:hover {
  color: var(--primary-orange);
}

.products-showcase .tabs .tab a.active {
  color: var(--primary-orange);
  /* background-color: var(--primary-orange); */
  background: transparent;
}

.products-showcase .tabs .indicator {
  background-color: var(--primary-orange);
  color: var(--primary-orange);
}

/* .products-showcase #all .col,
#guitar .col,
#piano .col,
#keyboard .col,
#amply .col {
  min-height: 500px;
} */
.products-showcase .card {
  padding-top: 10px;
  /* min-height: 400px; */
  cursor: pointer;
  box-shadow: none;
}

.products-showcase .card:hover {
  border-radius: 2px;
  --webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  /* transition: box-shadow 0.25s, -webkit-box-shadow 0.25s; */
}

.products-showcase .card .card-image {
  max-width: 240px;
  max-height: 240px;
  margin: 0 auto;
}

.products-showcase .card .card-product-name {
  color: #000;
}
.products-showcase .card .card-product-name:hover {
  color: var(--primary-orange);
}

.products-showcase .card .card-product-price {
  font-weight: 700;
}

.products-showcase .card .rating {
  color: var(--primary-orange);
}

.products-showcase .continue-btn {
  border-radius: 20px;
  margin: 30px 0;
  text-transform: none;
  padding: 0 25px;
  background-color: #fd923f;
}

/* ------------------------------------------------------ favorite ---------------------------------------------------- */
.favorite {
  background: url("../images/products/bg-slider.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 500px;
  overflow: hidden;
}

.favorite .text {
  color: #fff;
  max-width: 500px;
  margin: 25px auto;
}

.favorite .favorite-products {
  margin-top: 50px;
}

.favorite .container {
  width: 80%;
}

.favorite .favorite-products .product-box {
  opacity: 0.9;
}

.favorite .favorite-products .product-box {
  position: relative;
  display: block;
  cursor: pointer;
}

.favorite .favorite-products .product-box .product-detail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  overflow: auto;
}

.favorite .favorite-products .product-box:hover .product-image {
  visibility: hidden;
}

.favorite .favorite-products .product-box:hover .product-detail {
  visibility: visible;
}

.favorite .favorite-products .product-box .product-detail p {
  margin-bottom: 8px;
}

.favorite .favorite-products .product-box .product-detail .product-name {
  font-size: 1.4em;
  color: #fff;
}
.favorite .favorite-products .product-box .product-detail .product-name:hover {
  color: var(--primary-orange);
}
.favorite .favorite-products .product-box .product-detail .product-price {
  color: var(--primary-orange);
  font-weight: 700;
}

.favorite .favorite-products .product-box .product-detail .product-features li {
  position: relative;
  margin-left: 20px;
}

.favorite
  .favorite-products
  .product-box
  .product-detail
  .product-features
  li::before {
  font-family: "Material Icons";
  content: "\e5ca";
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  position: absolute;
  color: var(--primary-orange);
  font-weight: 900;
  left: -25px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .vertical-tabs.tabs {
    height: auto;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .vertical-tabs .tab {
    text-align: left;
    width: 100%;
  }

  .vertical-tabs .indicator {
    display: none;
  }

  .products-showcase .container {
    width: 95%;
  }

  .container {
    width: 100%;
  }

  .carousel {
    height: 150px;
  }
}
