.container-products {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 576px) {
  .container-products {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container-products {
    width: 720px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-products {
    width: 1140px;
  }
}
.home > li {
  display: inline;
}
.title-head {
  position: relative;
  margin-bottom: 0px;
}
h3 > span {
  color: #686868;
  background: #dedede;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  line-height: 40px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 25px;
}
.nav-pills {
  padding: 10px 0px;
  background-color: #ebebeb;
  margin-top: 0px;
}

.nav-pills li {
  margin: 7px 0;
}
.nav-item {
  padding: 5px 15px;
  font-size: 1.1em;
  color: #575454;
  text-decoration: none;
  background: transparent;
}
li > .active,
.nav-item:hover {
  color: #ff6d00;
}
h2 > span {
  background: #fff;
  color: #686868;
  display: block;
  line-height: 40px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 25px;
}
.filter-item {
  line-height: 2.5em;
  font-size: 1em;
  font-weight: normal;
  color: #6f6f6f;
}
.filter-item > span > label:hover {
  color: #ff6d00;
}
.filter-group > ul {
  max-height: 160px;
  overflow-y: auto;
}
div.filter-group > ul::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ecedf0;
}
div.filter-group > ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: black;
}
.sortPagiBar {
  margin: 0 0 30px 0;
  border: 1px solid #e9e9e9;
  border-bottom: 5px solid #e9e9e9;
}
.img-product {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
.img-product:hover {
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background-color: #fff;
}
.product-price {
  color: #323c3f;
  font-size: 16px;
  line-height: 1.71429em;
  display: block;
  font-weight: 700;
}
.product-name {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-name:hover {
  color: var(--primary-orange);
}
.product-box {
  border: 1px solid #e9e9e9;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 30px;
}
.img-list {
  text-align: center;
  margin-bottom: 0;
  width: calc(100% / 4);
  float: left;
  position: relative;
}
.product-info-list {
  text-align: left;
  margin-left: 30px;
  float: left;
  width: calc(100% / 3 * 2 - 30px);
  background: transparent;
  border-top: none;
  padding: 5px 0;
}
.product-summary {
  color: #909090;
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: 15px;
}
.btn-group button {
  border: 1px solid #e9e9e9;
  cursor: pointer;
  float: left;
  color: #909090;
  background-color: #f4f4f4;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/* Add a background color on hover */
.btn-group > .active-btn,
.btn-group button:hover {
  color: #ff6d00;
}

.grid-box {
  cursor: pointer;
}

.product-name:hover {
  color: var(--primary-orange);
}

.rating {
  color: var(--primary-orange);
}

.pagination .active {
  background-color: var(--primary-orange) !important;
}

.card .card-image {
  max-width: 240px;
  max-height: 240px;
  margin: 0 auto;
}

.card .card-product-name {
  color: #000;
}
.card .card-product-name:hover {
  color: var(--primary-orange);
}

.card .card-product-price {
  font-weight: 700;
}

.card {
  padding-top: 10px;
  /* min-height: 400px; */
  cursor: pointer;
  box-shadow: none;
}

.card:hover {
  border-radius: 2px;
  --webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  /* transition: box-shadow 0.25s, -webkit-box-shadow 0.25s; */
}
@media only screen and (max-width: 576px) {
  .img-list {
    width: 100%;
  }
  .product-info-list {
    width: calc(100% - 30px);
  }
}
