:root {
  --primary-orange: #ff6d00;
  --primary-grey: #909090;
  --secondary-grey: #686868;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

/* ----------------------------------------------------------------- header ----------------------------------------------------------- */
header .row {
  margin-bottom: 0;
}

.header {
  background-image: url("../images/icons/bg-header-top.png");
  height: 80px;
}

header .sign-log-in {
  padding-top: 5px;
}

header .sign-log-in .signup,
header .sign-log-in .login {
  color: var(--primary-grey);
  margin-left: 30px;
}

header .sign-log-in a:hover {
  color: var(--primary-orange);
}

header .sign-log-in i {
  margin-right: 3px;
  font-size: 18px;
  position: relative;
  top: 3px;
}

/* ------------------------------------------------------------------- nav bar ---------------------------------------------------------- */

nav {
  background: url("../images/icons/bg-header-top-menu.png") #1c1c1c repeat-x;
  height: 70px;
}

nav li {
  position: relative;
  /* float: none !important; */
}

nav li:not(.search-bar)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  background: url("../images/icons/border-right-menutop.png");
  height: 100%;
}

nav li a {
  color: var(--primary-grey);
}
nav li:hover a {
  color: #fff;
}

nav .active a {
  color: #fff;
}

nav li:not(.search-bar)::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: var(--primary-orange);
  visibility: hidden;
}

nav li:hover::before,
nav li.active::before {
  visibility: visible;
}

nav .nav-search-field {
  background: url("../images/icons/bg-input-search.png") repeat-x;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  color: #fff;
  /* width: 100%; */
  height: 30px;
}

nav .nav-search-field:focus {
  outline: none;
}

nav .search-bar {
  /* position: relative; */
  float: right;
  /* display: inline-block; */
  /* margin-left: auto; */
}

nav .search-form-container {
  position: relative;
  /* max-width: 100%; */
}

nav .search-form-container .search-btn {
  position: absolute;
  color: var(--primary-grey);
  border: none;
  cursor: pointer;
  background-color: transparent;
  right: -8px;
}
nav .nav-search-button-container {
  position: absolute;
  right: 10px;
  top: 17px;
}

nav .nav-search-button-container button {
  height: 28px;
  width: 28px;
}

nav .nav-search-button-container button i {
  height: 100% !important;
  width: 100%;
  line-height: unset !important;
}

#mobile-nav {
  background-color: #000;
}

#mobile-nav li a {
  color: var(--primary-grey);
  border-bottom: 1px solid var(--secondary-grey);
}

/* --------------------------------------------------------- breadcrumb ------------------------------------------------------- */
/* Style the list */
ul.mybreadcrumb {
  padding: 0 16px;
  list-style: none;
  margin: 20px 0;
}

/* Display list items side by side */
ul.mybreadcrumb li {
  display: inline;
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.mybreadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
ul.mybreadcrumb li a {
  color: #adadad;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.mybreadcrumb li a:hover {
  text-decoration: underline;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary-grey);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--primary-grey);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--primary-grey);
}

@media only screen and (max-width: 1425px) {
  #main-nav .container {
    width: 85%;
  }

  header .container {
    width: 85%;
  }
}
@media only screen and (max-width: 1130px) {
  #main-nav .container {
    width: 98%;
  }

  header .container {
    width: 98%;
  }
}
@media only screen and (max-width: 992px) {
  #main-nav .search-bar {
    float: left;
  }
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #555;
}
